body {
    font-family: 'Hind Guntur';
}
.img1{
    background:  rgba(0, 0, 0, 0.5) url("img/banner 2.jpg");
    background-blend-mode: darken;
    height: 396px;
}
.img2{
    background:  rgba(0, 0, 0, 0.5)url("img/_0002_shutterstock_795715315.png") ;
    background-blend-mode: darken;
    height: 396px;
}
.img3{
    background:  rgba(0, 0, 0, 0.5)url("img/banner 3.jpg");
    background-blend-mode: darken;
    height: 396px;
}
.slick-dots li {
    margin: 20px;
}
.slick-dots {
    margin-top: -10px;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: transparent;
    opacity: 1;   
}

.slick-dots li button:before {
    margin-top: -20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10%;
    display: inline-block;
    height: 5px;
    width: 36px;
}
.slick-dots li.slick-active button:before {
    background-color:#5489A3;
    border: #5489A3;
}
.button1{
    background-color: transparent;
    color:#5489A3 ;
    border: 1px solid #5489A3;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.card-title{
    background-color: #5489A3;
    color: #fff;
    height: 121px;
    width: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    width: 288px;
    height: 454px;
    background-color:#F2F2F2;
}
.green {
    position: relative;
    background:  rgba(0, 0, 0, 0.4) url("img/fiber_carusel_2.png");
    background-blend-mode: darken;
    background-size:cover ;
    height: 396px;
}

.button-2{
    color:#5A9C00;
    border: none;
    padding: 10px 32px;
    align-items: right;
}
.border{
    border-bottom: 3px solid #5489A3;
    width: 120px;
}
table {
    width: 80%;
}
table tr th {
    border: 2px solid #181a1a; 
}
.footer{
    width:70%;
    margin-left:15%;
    margin-right:15%;
}
.subtitlu{
    font-size: 48px;  
}
.titlu{
    font-size: 91px;
}
.logo{
    width: 60%;
}
.GGC{
    letter-spacing: 0.5em;
}

  @media only screen and (max-width: 600px) {
      .map{
        visibility: hidden;
        display: none;
      }
      .titlu{
          text-align: center;
      }
      .subtitlu{
          text-align: center;
      }
     .paragraf{
        font-size: small;
      }
     .logo {
        width: 100%;
      }
     .cards {
        width:50%;
        margin-left:25%;
        margin-right:25%;
      }
     .button1{
            width:50%;
            margin-left:25%;
            margin-right:25%;   
      }
     .button-2{
            width:50%;
            margin-left:25%;
            margin-right:25%;
      }
    }
